.container {
     display: flex;
     flex-direction: row;
     align-items: center;
     margin-bottom: 10px;
     padding: 10px;
     border: 1px solid #ccc; /* Bordure autour de chaque élément .container */
 }
 
 .container{
     margin-top: 10px; /* Espacement entre les éléments .container */
 }
 
 .container img {
     width: 100px; /* Ajustez la largeur de l'image selon vos besoins */
     height: auto;
     margin-right: 10px;
 }
 
 .container h1 {
     margin: 0;
 }
 